In [14]:
import numpy as np
import pandas as pd
#%matplotlib notebook
%matplotlib inline
import requests

import the dataset into a dataframe

In [15]:
df = pd.read_csv('Salaries.csv',index_col = 'Id')
print(df.head())

         EmployeeName                                        JobTitle  \
Id
1      NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
2        GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
3      ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
4   CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
5     PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

      BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
Id
1   167411.18         0.00  400184.25       NaN  567595.43         567595.43
2   155966.02    245131.88  137811.38       NaN  538909.28         538909.28
3   212739.13    106088.18   16452.60       NaN  335279.91         335279.91
4    77916.00     56120.71  198306.90       NaN  332343.61         332343.61
5   134401.60      9737.00  182234.59       NaN  326373.19         326373.19

    Year  Notes         Agency  Status
Id
1   2011    NaN  San Francisco     NaN
2   2011    NaN  San Francisco     NaN
3   2011    NaN  San Francisco     NaN
4   2011    NaN  San Francisco     NaN
5   2011    NaN  San Francisco     NaN

display the column names

In [17]:
df.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

display the number of rows and cols

In [18]:
df.shape

(148654, 12)

display the dataframe info (types of data in columns and not null values etc.)

In [19]:
df.info

<bound method DataFrame.info of              EmployeeName                                        JobTitle  \
Id
1          NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
2            GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
3          ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
4       CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
5         PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
...                   ...                                             ...
148650      Roy I Tillery                                       Custodian
148651       Not provided                                    Not provided
148652       Not provided                                    Not provided
148653       Not provided                                    Not provided
148654          Joe Lopez                      Counselor, Log Cabin Ranch

          BasePay  OvertimePay   OtherPay  Benefits   TotalPay  \
Id
1       167411.18         0.00  400184.25       NaN  567595.43
2       155966.02    245131.88  137811.38       NaN  538909.28
3       212739.13    106088.18   16452.60       NaN  335279.91
4        77916.00     56120.71  198306.90       NaN  332343.61
5       134401.60      9737.00  182234.59       NaN  326373.19
...           ...          ...        ...       ...        ...
148650       0.00         0.00       0.00       0.0       0.00
148651        NaN          NaN        NaN       NaN       0.00
148652        NaN          NaN        NaN       NaN       0.00
148653        NaN          NaN        NaN       NaN       0.00
148654       0.00         0.00    -618.13       0.0    -618.13

        TotalPayBenefits  Year  Notes         Agency  Status
Id
1              567595.43  2011    NaN  San Francisco     NaN
2              538909.28  2011    NaN  San Francisco     NaN
3              335279.91  2011    NaN  San Francisco     NaN
4              332343.61  2011    NaN  San Francisco     NaN
5              326373.19  2011    NaN  San Francisco     NaN
...                  ...   ...    ...            ...     ...
148650              0.00  2014    NaN  San Francisco     NaN
148651              0.00  2014    NaN  San Francisco     NaN
148652              0.00  2014    NaN  San Francisco     NaN
148653              0.00  2014    NaN  San Francisco     NaN
148654           -618.13  2014    NaN  San Francisco     NaN

[148654 rows x 12 columns]>

display stats of the dataframe like count, mean, std, max, 25% etc.....

In [20]:
df.describe

<bound method NDFrame.describe of              EmployeeName                                        JobTitle  \
Id
1          NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
2            GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
3          ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
4       CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
5         PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
...                   ...                                             ...
148650      Roy I Tillery                                       Custodian
148651       Not provided                                    Not provided
148652       Not provided                                    Not provided
148653       Not provided                                    Not provided
148654          Joe Lopez                      Counselor, Log Cabin Ranch

          BasePay  OvertimePay   OtherPay  Benefits   TotalPay  \
Id
1       167411.18         0.00  400184.25       NaN  567595.43
2       155966.02    245131.88  137811.38       NaN  538909.28
3       212739.13    106088.18   16452.60       NaN  335279.91
4        77916.00     56120.71  198306.90       NaN  332343.61
5       134401.60      9737.00  182234.59       NaN  326373.19
...           ...          ...        ...       ...        ...
148650       0.00         0.00       0.00       0.0       0.00
148651        NaN          NaN        NaN       NaN       0.00
148652        NaN          NaN        NaN       NaN       0.00
148653        NaN          NaN        NaN       NaN       0.00
148654       0.00         0.00    -618.13       0.0    -618.13

        TotalPayBenefits  Year  Notes         Agency  Status
Id
1              567595.43  2011    NaN  San Francisco     NaN
2              538909.28  2011    NaN  San Francisco     NaN
3              335279.91  2011    NaN  San Francisco     NaN
4              332343.61  2011    NaN  San Francisco     NaN
5              326373.19  2011    NaN  San Francisco     NaN
...                  ...   ...    ...            ...     ...
148650              0.00  2014    NaN  San Francisco     NaN
148651              0.00  2014    NaN  San Francisco     NaN
148652              0.00  2014    NaN  San Francisco     NaN
148653              0.00  2014    NaN  San Francisco     NaN
148654           -618.13  2014    NaN  San Francisco     NaN

[148654 rows x 12 columns]>

display null values per column

In [22]:
null_data = df.isnull().sum()
null_data

EmployeeName             0
JobTitle                 0
BasePay                609
OvertimePay              4
OtherPay                 4
Benefits             36163
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              148654
dtype: int64

remove columns will all values as NaN

In [23]:
null_val_col = null_data[null_data==df.shape[0]].keys()
null_val_col
df = df.drop(columns = null_val_col,axis=1)

display number of unique values in each column

In [24]:
for col in df.columns:
    print(col,df[col].nunique())

EmployeeName 110811
JobTitle 2159
BasePay 109489
OvertimePay 65998
OtherPay 83225
Benefits 98465
TotalPay 138486
TotalPayBenefits 142098
Year 4
Agency 1

mean of total pay of all people based on year

In [25]:
df.groupby('Year')['TotalPay'].mean()

Year
2011    71744.103871
2012    74113.262265
2013    77611.443142
2014    75463.918140
Name: TotalPay, dtype: float64

how many people have 0 overtime pay

In [26]:
len(df[df['OvertimePay']==0]['OvertimePay'])

77321

max, min, mean, median and other stats of TotalPay of people having 0 OvertimePay

In [27]:
df[df['OvertimePay']==0]['TotalPay'].describe()

count     77321.000000
mean      60229.348901
std       49307.912350
min        -618.130000
25%       13290.450000
50%       58158.590000
75%       91115.090000
max      567595.430000
Name: TotalPay, dtype: float64

find Id of that person with max TotalPay you got in previous question

In [28]:
df[df['TotalPay']==567595.430000].index

Int64Index([1], dtype='int64', name='Id')

name of employee with total pay benefits = 87619.78

In [29]:
len(df[df['TotalPayBenefits']==87619.78])

1

how many people have BasePay > 150000 and OvertimePay > 100000

In [30]:
len(df[(df['BasePay']>150000) & (df['OvertimePay']>100000)])

12

which job title generally has highest average TotalPayBenefits

In [31]:
df[df['TotalPay']==max(df['TotalPay'])]['JobTitle']

Id
1    GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
Name: JobTitle, dtype: object

How many employees are POLICE

In [32]:
# .str.contains()
len(df[df['JobTitle'].str.contains('POLICE')])

2512